.profile{
    height: 300px;
    width: 300px;
    border-radius: 25rem;
}

.text{
    font-weight: bold;
    font-size: 50px; 
    margin-left: 0px;
}

.btn-1{
    background-color: tomato;

}

.btn-2{
    background-color: #8533ff;
    margin-left: 5px;
}

.btn-3{
    background-color: yellow;
    margin-left: 5px;
}

.btn-4{
    background-color: #66b3ff;
    margin-left: 5px;
}

.container-2{
    border: none;
}

.heading{
    text-align: center;
    margin-top: 2rem;
}

.list-cont{
    text-decoration: none;
    margin-left: 8rem;
}

li{
    font-size: 25px;
}

.projects{
    display: flex;
    justify-content: space-evenly;
}

.project-link{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.project-arrow{
    height: 18px;
}

.btn-p{
    background-color: #66b3ff;
    border-radius: 0.4rem;
    font-weight: 500;

}